@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';

.primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  height: 80px;
  padding-top: 20px;
  color: white;
  background-color: #3f51b5;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rodape-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}

a,
a:hover,
a:focus {
  color: white;
  text-decoration: none;
  padding-right: 20px;
}
