<footer class="primary">
  <div class="rodape" layout="row" layout-align="center center">
    <div class="rodape-icons">
      <a href="https://github.com/flaviohnm/" target="_blank">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a href="https://www.linkedin.com/in/flaviohnm/" target="_blank">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
    </div>
    <div class="rodape-texto">
      <h3>Projeto Digital Innovation One | SPA Fórmula 1</h3>
    </div>
  </div>
</footer>
